*{
	background-color: black;
	color:white;
	font-family: 'Six Caps', sans-serif;
	font-size: 35px;
}

header {
	margin: 50px;
	width: inherit;
	text-align: center;
	letter-spacing: 10px;
	font-size: 50px;
}

main{
	margin: 0 auto;
	width: 1000px;
}
section {
	border: solid;
	width: 400px;
	float: left;
	margin-left: 20px;
	padding: 20px;

}

.guessSection {
	background-color:white; 
	color:black;
	height: 60px;
	margin: 20px auto;
	text-align: center;
}

p {
	background-color: white;
	color: black;
	font-family:serif;
	display: inline-block;
	bottom: 0;

}

footer{
	position: absolute;
	bottom:0;
}